<header class="bg-white shadow-sm fixed flex w-full items-center justify-center">
    <div class="container w-full px-4 py-4 flex justify-between items-center">
        <div class="text-2xl font-bold">Schdent</div>
        <nav class="space-x-8">
            <a class="text-gray-700 hover:bg-yellow-500 hover:text-white px-4 py-2 rounded transition" href="/home">Home</a>
            <a class="text-gray-700 hover:bg-yellow-500 hover:text-white px-4 py-2 rounded transition" href="/about">aboutus</a>
            <a class="text-gray-700 hover:bg-yellow-500 hover:text-white px-4 py-2 rounded transition" href="/platform">platform</a>
            <a class="text-gray-700 hover:bg-yellow-500 hover:text-white px-4 py-2 rounded transition" href="/categories">categories</a>
            <a class="text-gray-700 hover:bg-yellow-500 hover:text-white px-4 py-2 rounded transition" href="/guide">guide</a>
            <a class="text-gray-700 hover:bg-yellow-500 hover:text-white px-4 py-2 rounded transition" href="/testimonals">testimonals</a>
        </nav>
        <div class="space-x-4">
            <!-- <button class="text-gray-700" onclick="toggleModal('loginModal')">Login</button> -->
            <button class="px-4 py-2 border border-yellow-500 text-yellow-500 rounded-full" onclick="toggleModal('signupModal')">Sign Up</button>
        </div>
    </div>
</header>