{% load static %}
<div class="bg-white shadow-lg hover-scale scholarship-card" style="transition: 0.4s; max-width: 500px; width: 30%; overflow: hidden; border-radius: 36px;">
    <img src="{{poster}}" class="w-full h-[200px] object-cover" alt="err">
    <div class="p-6">    
        <h3 class="text-xl font-bold mb-2" id="sclp-title">{{title}}</h3>
        <p class="font-semibold mb-2" id="sclp-desc">{{desc}}</p>
        <p class="text-gray-600">Provided by: <span class="font-semibold" id="sclp-providedBy">{{provided_by}}</span></p>
        <p class="text-gray-600">Category: <span class="font-semibold" id="sclp-category">{{category}}</span></p>
        <p class="text-gray-600">Amount: Rs.<span class="font-semibold" id="sclp-amt">{{amount}}</span></p>
        <p class="text-gray-600">Expiry Date: <span class="font-semibold" id="sclp-lastDate">{{last_date}}</span></p>
        <button class="mt-4 px-4 py-2 bg-yellow-500 text-white rounded-full hover:bg-yellow-600"><a class="h-full w-full" href="/scholarship/{{scholarship_id}}">Apply Now</a></button>
    </div>
</div>